<template name="carousel">
  <div class="main-carousel">

    <!--Slider -->
    <div id="carousel-example-generic" class="carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <!--First Item-->
        <div class="item item1 active">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="caption" style="margin: 110px 0 0 55px">
                  <!--<h2 class="animated bounceInRight">Welcome to <b>ORB</b></h2>-->

                  <p class="animated fadeInUpBig">
                    <b>Activaction</b> &#8212;
                    2 Shibuya corrupted tank-traps market euro-pop receding hotdog numinous render-farm
                    cardboard DIY Legba math- pen. weathered hacker advert skyscraper voodoo god
                    chrome cartel order-flow math- skyscraper 8-bit meta- -ware rifle.</p>
                </div>
              </div>
              <!--<div class="col-md-4 visible-lg visible-md"><img class="animated fadeInRightBig"-->
                                                               <!--src="images/slider/1.png" alt="ORB"></div>-->
            </div>
          </div>
        </div>
        <!--/First Item-->
        <!--Second Item-->
        <div class="item item2">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="caption" style="margin: 110px 0 0 55px">
                  <!--<h2 class="animated lightSpeedIn"><b>Fully</b> Responsive!</h2>-->

                  <p class="animated fadeInUpBig">
                    <b>Activaction</b> &#8212;
                    Shibuya corrupted tank-traps skyscraper 8-bit meta- -ware rifle.</p>
                </div>
              </div>
              <!--<div class="col-md-4 visible-lg visible-md"><img class="animated fadeInRightBig"-->
                                                               <!--src="images/slider/2.png" alt="ORB"></div>-->
            </div>
          </div>
        </div>
        <!--/Second Item-->
        <!--Third Item-->
        <div class="item item3">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="caption" style="margin: 110px 0 0 55px">
                  <!--<h2 class="animated fadeInDownBig">Style and <b>Standards</b></h2>-->

                  <p class="animated fadeInUpBig">
                    <b>Activaction</b> &#8212;
                    Shibuya corrupted tank-traps market euro-pop receding hotdog numinous render-farm
                    cardboard DIY Legba math- pen. Advert skyscraper voodoo god
                    chrome cartel order-flow math- skyscraper 8-bit meta- -ware rifle.</p>
                </div>
              </div>
              <!--<div class="col-md-4 visible-lg visible-md"><img class="animated fadeInRightBig"-->
                                                               <!--src="images/slider/3.png" alt="ORB"></div>-->
            </div>
          </div>
        </div>
        <!--/Third Item-->
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span
          class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control"
                                                                   href="#carousel-example-generic" role="button"
                                                                   data-slide="next"> <span
        class="glyphicon glyphicon-chevron-right"></span> </a></div>
  </div>
</template>