<template name="facts">



  <div class="factage-block block">
    <h2 class="h2_home">Rejoignez la communauté</h2>



      <!--Tiny User Block-->
      <div class="col-md-4 col-sm-6">
        <div class="tiny-user-block clearfix">
          <div class="user-img"> <img src="http://bigmedved.ru/orb/images/users/1.jpg" alt="User"> </div>
          <h3>Gluck Morris</h3>
          <ul>
            <li>Followers: <strong>1251</strong></li>
            <li>Following: <strong>1443</strong></li>
          </ul>
          <!--<button class="btn btn-sm btn-success">Follow</button>-->
          <button class="btn btn-sm btn-success">Ajouter aux contacts</button>
          <button class="btn btn-sm btn-warning">Chat</button>
        </div>
      </div>
      <!--/Tiny User Block-->

      <!--Tiny User Block-->
      <div class="col-md-4 col-sm-6">
        <div class="tiny-user-block clearfix">
          <div class="user-img"> <img src="http://bigmedved.ru/orb/images/users/2.jpg" alt="User"> </div>
          <h3>Spiderman</h3>
          <ul>
            <li>Followers: <strong>151</strong></li>
            <li>Following: <strong>224</strong></li>
          </ul>
          <!--<button class="btn btn-sm btn-success">Follow</button>-->
          <button class="btn btn-sm btn-warning">Chat</button>
        </div>
      </div>
      <!--/Tiny User Block-->

      <!--Tiny User Block-->
      <div class="col-md-4 col-sm-6">
        <div class="tiny-user-block clearfix">
          <div class="user-img"> <img src="http://bigmedved.ru/orb/images/users/3.jpg" alt="User"> </div>
          <h3>Barack Muchacho</h3>
          <ul>
            <li>Followers: <strong>235</strong></li>
            <li>Following: <strong>244</strong></li>
          </ul>
          <!--<button class="btn btn-sm btn-success">Follow</button>-->
          <button class="btn btn-sm btn-warning">Chat</button>
        </div>
      </div>
      <!--/Tiny User Block-->

      <!--Tiny User Block-->
      <div class="col-md-4 col-sm-6">
        <div class="tiny-user-block clearfix">
          <div class="user-img"> <img src="http://bigmedved.ru/orb/images/users/4.jpg" alt="User"> </div>
          <h3>Piggy Muppet</h3>
          <ul>
            <li>Followers: <strong>451</strong></li>
            <li>Following: <strong>1778</strong></li>
          </ul>
          <!--<button class="btn btn-sm btn-success">Follow</button>-->
          <button class="btn btn-sm btn-warning">Chat</button>
        </div>
      </div>
      <!--/Tiny User Block-->

      <!--Tiny User Block-->
      <div class="col-md-4 col-sm-6">
        <div class="tiny-user-block clearfix">
          <div class="user-img"> <img src="http://bigmedved.ru/orb/images/users/5.jpg" alt="User"> </div>
          <h3>Chewbacca</h3>
          <ul>
            <li>Followers: <strong>678</strong></li>
            <li>Following: <strong>1304</strong></li>
          </ul>
          <!--<button class="btn btn-sm btn-success">Follow</button>-->
          <button class="btn btn-sm btn-warning">Chat</button>
        </div>
      </div>
      <!--/Tiny User Block-->

      <!--Tiny User Block-->
      <div class="col-md-4 col-sm-6">
        <div class="tiny-user-block clearfix">
          <div class="user-img"> <img src="http://bigmedved.ru/orb/images/users/6.jpg" alt="User"> </div>
          <h3>Piggy Muppet</h3>
          <ul>
            <li>Followers: <strong>4519</strong></li>
            <li>Following: <strong>44</strong></li>
          </ul>
          <!--<button class="btn btn-sm btn-success">Follow</button>-->
          <button class="btn btn-sm btn-warning">Chat</button>
        </div>
      </div>
      <!--/Tiny User Block-->


    <!--Fact-->
    <!--<div class="col-md-4">-->
      <!--<div class="factage">-->
        <!--<div class="factage-text-block">-->
          <!--<p class="numbers">1</p>-->

          <!--<h3>Intuitive</h3>-->
          <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf-->
          <!--moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.-->
        <!--</div>-->
        <!--<div class="more-icon-wrap more-icon-hover more-icon-hover"><a href="#" data-toggle="tooltip"-->
                                                                       <!--data-placement="top" title="Know More!"-->
                                                                       <!--class="more-icon more-icon-more tooltiped">Mobile</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;/Fact&ndash;&gt;-->
    <!--&lt;!&ndash;Fact&ndash;&gt;-->
    <!--<div class="col-md-4">-->
      <!--<div class="factage">-->
        <!--<div class="factage-text-block">-->
          <!--<p class="numbers">2</p>-->

          <!--<h3>Outstanding</h3>-->
          <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf-->
          <!--moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.-->
        <!--</div>-->
        <!--<div class="more-icon-wrap more-icon-hover more-icon-hover"><a href="#" data-toggle="tooltip"-->
                                                                       <!--data-placement="top" title="Know More!"-->
                                                                       <!--class="more-icon more-icon-more tooltiped">Mobile</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;/Fact&ndash;&gt;-->
    <!--&lt;!&ndash;Fact&ndash;&gt;-->
    <!--<div class="col-md-4">-->
      <!--<div class="factage">-->
        <!--<div class="factage-text-block">-->
          <!--<p class="numbers">3</p>-->

          <!--<h3>Feature Rich</h3>-->
          <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf-->
          <!--moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.-->
        <!--</div>-->
        <!--<div class="more-icon-wrap more-icon-hover more-icon-hover"><a href="#" data-toggle="tooltip"-->
                                                                       <!--data-placement="top" title="Know More!"-->
                                                                       <!--class="more-icon more-icon-more tooltiped">Mobile</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--/Fact-->
  </div>
</template>