<template name="about">
  {{> menu}}

  <div class="container frontend">

    <div class="row">
      {{> flashes}}
      <div class="page-header">
        <h1>About Us
          <small>Who we are</small>
        </h1>
      </div>

      <!--Content-->
      <div class="col-md-12">
        <div class="header-splash-img">
          <div class="header-splash-intro">
            <h1>Rethinking and redesign. Starting from ourselves.</h1>

            <p>Started in 1999 and based in NY, we suspendisse ut nibh eu purus consectetur consequat. In non accumsan
              elit, sed ornare metus. Pellentesque nec sapien neque. Sed auctor feugiat nisi, sit amet pharetra neque
              semper sit amet. Maecenas tempus aliquam tortor at consequat. Aenean elementum lorem ut venenatis
              eleifend.
              Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras enim lorem, aliquam sit amet justo vel,
              pulvinar convallis quam. </p>
          </div>
        </div>
      </div>

      <!--Skills and nums-->

      <div class="block skills-block">
        <h2>Our Skills</h2>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <h3 class="text-center">Creating Complex Websites</h3>

              <div class="easy-pie-chart-container"><span class="chart" id="skills-easy-1" data-percent="78"> <span
                  class="percent"></span></span>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante urna, luctus sit amet purus
                  posuere, laoreet aliquet magna. Fusce ultrices, tellus iaculis lobortis volutpat, augue metus euismod
                  nunc, sed congue nisi arcu at erat.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <h3 class="text-center">Managing Databases</h3>

              <div class="easy-pie-chart-container"><span class="chart" id="skills-easy-2" data-percent="85"> <span
                  class="percent"></span></span>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante urna, luctus sit amet purus
                  posuere, laoreet aliquet magna. Fusce ultrices, tellus iaculis lobortis volutpat, augue metus euismod
                  nunc, sed congue nisi arcu at erat.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <h3 class="text-center">Mobile Applications</h3>

              <div class="easy-pie-chart-container"><span class="chart" id="skills-easy-3" data-percent="89"> <span
                  class="percent"></span></span>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante urna, luctus sit amet purus
                  posuere, laoreet aliquet magna. Fusce ultrices, tellus iaculis lobortis volutpat, augue metus euismod
                  nunc, sed congue nisi arcu at erat.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <h3 class="text-center">Hosting and Storage</h3>

              <div class="easy-pie-chart-container"><span class="chart" id="skills-easy-4" data-percent="91"> <span
                  class="percent"></span></span>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ante urna, luctus sit amet purus
                  posuere, laoreet aliquet magna. Fusce ultrices, tellus iaculis lobortis volutpat, augue metus euismod
                  nunc, sed congue nisi arcu at erat.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <h2>Company by numbers</h2>

            <div class="col-md-2 col-sm-4 col-xs-6">
              <div class="company-numbers"><i class="entypo-cog"></i>
                <h4>1 200 567</h4>

                <p>Pages Created</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
              <div class="company-numbers"><i class="entypo-lifebuoy"></i>
                <h4>600 567</h4>

                <p>Tickets Resolved</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
              <div class="company-numbers"><i class="entypo-hourglass"></i>
                <h4>1800</h4>

                <p>Hours per Project</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
              <div class="company-numbers"><i class="entypo-comment"></i>
                <h4>200 567</h4>

                <p>Social Comments</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
              <div class="company-numbers"><i class="entypo-thumbs-up"></i>
                <h4>100 349</h4>

                <p>Likes</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
              <div class="company-numbers"><i class="entypo-trophy"></i>
                <h4>16</h4>

                <p>Awards Collected</p>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <!--Team Block-->
      <div class="block team-block clearfix">
        <h2>Our Team</h2>

        <div class="col-md-12">
          <div class="row">

            <!--Member Col-->
            <div class="col-md-4">
              <div class="team-member-block">
                <div class="user-img"><img src="http://placehold.it/600x600" alt="User"/></div>
                <h4>Andrew Webber</h4>
                <h5 class="text-cold-grey">CEO / The Boss</h5>

                <p>Donec tincidunt imperdiet lectus id consectetur. Ut fringilla dolor ac tortor fermentum malesuada.
                  Aliquam erat volutpat. </p>

                <div class="social-buttons">
                  <ul class="social">
                    <li><a href="http://facebook.com/"><i class="entypo-facebook-circled"></i></a></li>
                    <li><a href="http://google.com/"><i class="entypo-gplus-circled"></i></a></li>
                    <li><a href="http://twitter.com/"><i class="entypo-twitter-circled"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--/Member Col-->
            <!--Member Col-->
            <div class="col-md-4">
              <div class="team-member-block">
                <div class="user-img"><img src="http://placehold.it/600x600" alt="User"/></div>
                <h4>Andrew Webber</h4>
                <h5 class="text-cold-grey">CEO / The Boss</h5>

                <p>Donec tincidunt imperdiet lectus id consectetur. Ut fringilla dolor ac tortor fermentum malesuada.
                  Aliquam erat volutpat. </p>

                <div class="social-buttons">
                  <ul class="social">
                    <li><a href="http://facebook.com/"><i class="entypo-facebook-circled"></i></a></li>
                    <li><a href="http://google.com/"><i class="entypo-gplus-circled"></i></a></li>
                    <li><a href="http://twitter.com/"><i class="entypo-twitter-circled"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!--/Member Col-->
            <!--Member Col-->
            <div class="col-md-4">
              <div class="team-member-block">
                <div class="user-img"><img src="http://placehold.it/600x600" alt="User"/></div>
                <h4>Andrew Webber</h4>
                <h5 class="text-cold-grey">CEO / The Boss</h5>

                <p>Donec tincidunt imperdiet lectus id consectetur. Ut fringilla dolor ac tortor fermentum malesuada.
                  Aliquam erat volutpat. </p>

                <div class="social-buttons">
                  <ul class="social">
                    <li><a href="http://facebook.com/"><i class="entypo-facebook-circled"></i></a></li>
                    <li><a href="http://google.com/"><i class="entypo-gplus-circled"></i></a></li>
                    <li><a href="http://twitter.com/"><i class="entypo-twitter-circled"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--/Member Col-->
        <div class="clearfix"></div>
      </div>
      <div class="team-carousel margin-negative-right-left-10px">

        <!--Team Carousel-->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">

              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Michael Baumgarten</h4>
                      <span>Lead Engeneer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>John Moe</h4>
                      <span>Lead Designer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Jud Jackson</h4>
                      <span>Manager</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Chloe Shuma</h4>
                      <span>Photographer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Pamela G</h4>
                      <span>Office Clown</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Oleg Kaloev</h4>
                      <span>Angry Developer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Natasha Hohlova</h4>
                      <span>Legal</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Marsha H</h4>
                      <span>Illustrator</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
            </div>
            <div class="item">

              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Name FamilyName</h4>
                      <span>Lead Designer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Name FamilyName</h4>
                      <span>Lead Designer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Name FamilyName</h4>
                      <span>Lead Designer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Name FamilyName</h4>
                      <span>Lead Designer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->

              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Name FamilyName</h4>
                      <span>Lead Designer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Name FamilyName</h4>
                      <span>Lead Designer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Name FamilyName</h4>
                      <span>Lead Designer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->
              <!--Member Col-->
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="other-team-member-block hover-animation">
                  <figure><img class="img-rounded" src="http://placehold.it/600x600" alt="img01">
                    <figcaption>
                      <h4>Name FamilyName</h4>
                      <span>Lead Designer</span></figcaption>
                  </figure>
                </div>
              </div>
              <!--/Member Col-->

            </div>
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span
              class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control"
                                                                       href="#carousel-example-generic" role="button"
                                                                       data-slide="next"> <span
            class="glyphicon glyphicon-chevron-right"></span> </a></div>
        <!--/Team Carousel-->

      </div>

      <!--Clients-->

      <div class="clients-block">
        <h2>Our happy clients</h2>

        <div class="row">
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="col-md-1 col-sm-3 col-xs-4">
            <div class="client-logo"><a href="#"><img class="img-responsive" src="http://placehold.it/600x600"
                                                      alt="Client"></a></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <!--/Clients-->

      <!-- /Content-->
    </div>


  </div>

  {{> footer}}
</template>