<template name="events">
  {{> menu}}
  {{> flashes}}
  {{> chatWindow}}

  <div class="row">
    <div class="content-left col-md-10">

      <h1>Event list here...</h1>
      <ul>
        <li>Event 1</li>
        <li>Event 2</li>
        <li>Event 3</li>
      </ul>
      <a href="/events/create" class="create-event">Créer un évènement</a>
      <h1>Event page</h1>
      {{> event}}

    </div>
    <div class="content-right col-md-2">
      {{> userMenu}}
    </div>
  </div>

  {{> footer}}
</template>